In [133]:
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt

## Data Preparation

In [134]:
from olist.data import Olist

data = Olist().get_data()
data.keys()

dict_keys(['sellers', 'product_category_name_translation', 'orders', 'order_items', 'customers', 'geolocation', 'order_payments', 'order_reviews', 'products'])

In [135]:
from olist.seller import Seller

sellers1 = Seller().get_training_data()
sellers = sellers1.copy()
sellers.head()

,seller_id,seller_city,seller_state,delay_to_carrier,wait_time,date_first_sale,date_last_sale,months_on_olist,n_orders,quantity,quantity_per_order,sales,review_score,share_of_five_stars,share_of_one_stars
0,3442f8959a84dea7ee197c632cb2df15,campinas,SP,0.000000,13.018588,2017-05-05 16:25:11,2017-08-30 12:50:19,4.0,3,3,1.000,218.70,3.000000,0.333333,0.333333
1,d1b65fc7debc3361ea86b5f14c68d2e2,mogi guacu,SP,0.000000,9.065716,2017-03-29 02:10:34,2018-06-06 20:15:21,14.0,40,41,1.025,11703.07,4.560976,0.731707,0.048780
2,ce3ad9de960102d0677a81f5d0bb7b2d,rio de janeiro,RJ,0.000000,4.042292,2018-07-30 12:44:49,2018-07-30 12:44:49,0.0,1,1,1.000,158.00,5.000000,1.000000,NaN
3,c0f3eea2e14555b6faeea3dd58c1b1c3,sao paulo,SP,0.000000,5.667187,2018-08-03 00:44:08,2018-08-03 00:44:08,0.0,1,1,1.000,79.99,5.000000,1.000000,NaN
4,51a04a8a6bdcb23deccc82b0b80742cf,braganca paulista,SP,3.353727,35.314861,2017-11-14 12:15:25,2017-11-14 12:15:25,0.0,1,1,1.000,167.99,1.000000,NaN,1.000000

In [141]:
sellers_df = (
            Seller().get_seller_features()
            .merge(Seller().get_seller_delay_wait_time(), on="seller_id")
            .merge(Seller().get_active_dates(), on="seller_id")
            .merge(Seller().get_quantity(), on="seller_id")
            .merge(Seller().get_sales(), on="seller_id")
        )
sellers_df

,seller_id,seller_city,seller_state,delay_to_carrier,wait_time,date_first_sale,date_last_sale,months_on_olist,n_orders,quantity,quantity_per_order,sales
0,3442f8959a84dea7ee197c632cb2df15,campinas,SP,0.000000,13.018588,2017-05-05 16:25:11,2017-08-30 12:50:19,4.0,3,3,1.000000,218.70
1,d1b65fc7debc3361ea86b5f14c68d2e2,mogi guacu,SP,0.000000,9.065716,2017-03-29 02:10:34,2018-06-06 20:15:21,14.0,40,41,1.025000,11703.07
2,ce3ad9de960102d0677a81f5d0bb7b2d,rio de janeiro,RJ,0.000000,4.042292,2018-07-30 12:44:49,2018-07-30 12:44:49,0.0,1,1,1.000000,158.00
3,c0f3eea2e14555b6faeea3dd58c1b1c3,sao paulo,SP,0.000000,5.667187,2018-08-03 00:44:08,2018-08-03 00:44:08,0.0,1,1,1.000000,79.99
4,51a04a8a6bdcb23deccc82b0b80742cf,braganca paulista,SP,3.353727,35.314861,2017-11-14 12:15:25,2017-11-14 12:15:25,0.0,1,1,1.000000,167.99
...,...,...,...,...,...,...,...,...,...,...,...,...
2965,98dddbc4601dd4443ca174359b237166,sarandi,PR,0.000000,8.230822,2018-07-14 03:10:19,2018-07-23 15:34:03,0.0,2,2,1.000000,158.00
2966,f8201cab383e484733266d1906e2fdfa,palhoca,SC,0.000000,13.045797,2017-06-17 15:30:11,2018-08-11 19:55:17,14.0,10,10,1.000000,889.00
2967,74871d19219c7d518d0090283e03c137,sao paulo,SP,0.000000,3.606625,2018-04-05 17:09:46,2018-08-21 19:25:15,5.0,6,7,1.166667,550.04
2968,e603cf3fec55f8697c9059638d6c8eb5,pelotas,RS,0.000000,6.657634,2017-02-09 02:43:17,2017-06-16 17:30:16,4.0,8,11,1.375000,297.00
2969,9e25199f6ef7e7c347120ff175652c3b,taubate,SP,0.000000,8.199456,2017-03-27 10:10:27,2017-03-27 10:10:27,0.0,1,1,1.000000,12.50

In [142]:
freight_sellers = (
    data["order_items"][["seller_id", "freight_value"]]
    .groupby("seller_id")
    .sum()
    .rename(columns={"freight_value": "sales_freight"})
)
#print(freight_sellers.head(3))
sellers_df = sellers_df.merge(freight_sellers, on="seller_id")
sellers_df.head(3)

,seller_id,seller_city,seller_state,delay_to_carrier,wait_time,date_first_sale,date_last_sale,months_on_olist,n_orders,quantity,quantity_per_order,sales,sales_freight
0,3442f8959a84dea7ee197c632cb2df15,campinas,SP,0.0,13.018588,2017-05-05 16:25:11,2017-08-30 12:50:19,4.0,3,3,1.000,218.70,27.90
1,d1b65fc7debc3361ea86b5f14c68d2e2,mogi guacu,SP,0.0,9.065716,2017-03-29 02:10:34,2018-06-06 20:15:21,14.0,40,41,1.025,11703.07,1438.73
2,ce3ad9de960102d0677a81f5d0bb7b2d,rio de janeiro,RJ,0.0,4.042292,2018-07-30 12:44:49,2018-07-30 12:44:49,0.0,1,1,1.000,158.00,16.21

Edit the `get_training_data` method so that the DataFrame it returns contains the fields:
- `revenues`: sum of subscription and sales fees revenues
- `cost_of_reviews`: sum of costs associated with bad reviews
- `profits`: `revenues` - `cost_of_reviews`

In [143]:
## Revenues

sellers_df["sales_fees"] = 0.01 * (sellers_df["sales"] - sellers_df["sales_freight"])

condition = sellers_df["months_on_olist"] > 0
sellers_df.loc[condition, "subscription_fees"] = 80 * sellers_df["months_on_olist"]
sellers_df.loc[~condition, "subscription_fees"] = 80

sellers_df["revenues"] = sellers_df["sales_fees"] + sellers_df["subscription_fees"]
sellers_df.head(5)

,seller_id,seller_city,seller_state,delay_to_carrier,wait_time,date_first_sale,date_last_sale,months_on_olist,n_orders,quantity,quantity_per_order,sales,sales_freight,sales_fees,subscription_fees,revenues
0,3442f8959a84dea7ee197c632cb2df15,campinas,SP,0.000000,13.018588,2017-05-05 16:25:11,2017-08-30 12:50:19,4.0,3,3,1.000,218.70,27.90,1.9080,320.0,321.9080
1,d1b65fc7debc3361ea86b5f14c68d2e2,mogi guacu,SP,0.000000,9.065716,2017-03-29 02:10:34,2018-06-06 20:15:21,14.0,40,41,1.025,11703.07,1438.73,102.6434,1120.0,1222.6434
2,ce3ad9de960102d0677a81f5d0bb7b2d,rio de janeiro,RJ,0.000000,4.042292,2018-07-30 12:44:49,2018-07-30 12:44:49,0.0,1,1,1.000,158.00,16.21,1.4179,80.0,81.4179
3,c0f3eea2e14555b6faeea3dd58c1b1c3,sao paulo,SP,0.000000,5.667187,2018-08-03 00:44:08,2018-08-03 00:44:08,0.0,1,1,1.000,79.99,15.66,0.6433,80.0,80.6433
4,51a04a8a6bdcb23deccc82b0b80742cf,braganca paulista,SP,3.353727,35.314861,2017-11-14 12:15:25,2017-11-14 12:15:25,0.0,1,1,1.000,167.99,31.93,1.3606,80.0,81.3606

In [144]:
reviews_df = data["order_reviews"].copy()
reviews_df.head(3)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24

In [130]:
#sellers2 = sellers.copy()
sellers.drop(columns=["review_score"], inplace=True)
sellers.head(3)

,seller_id,seller_city,seller_state,delay_to_carrier,wait_time,date_first_sale,date_last_sale,months_on_olist,n_orders,quantity,quantity_per_order,sales,share_of_five_stars,share_of_one_stars,sales_freight,sales_fees,subscription_fees,revenues
0,3442f8959a84dea7ee197c632cb2df15,campinas,SP,0.0,13.018588,2017-05-05 16:25:11,2017-08-30 12:50:19,4.0,3,3,1.000,218.70,0.333333,0.333333,27.90,1.9080,320.0,321.9080
1,d1b65fc7debc3361ea86b5f14c68d2e2,mogi guacu,SP,0.0,9.065716,2017-03-29 02:10:34,2018-06-06 20:15:21,14.0,40,41,1.025,11703.07,0.731707,0.048780,1438.73,102.6434,1120.0,1222.6434
2,ce3ad9de960102d0677a81f5d0bb7b2d,rio de janeiro,RJ,0.0,4.042292,2018-07-30 12:44:49,2018-07-30 12:44:49,0.0,1,1,1.000,158.00,1.000000,NaN,16.21,1.4179,80.0,81.4179

In [168]:
## Cost of reviews: sum of costs associated with bad reviews(review_score <= 3 )
orders = data["orders"].copy()
order_items = data["order_items"].copy()

# Merge sellers1 and order_items on seller_id.
merged_df = pd.merge(sellers_df, order_items, on="seller_id")
# Then, merge the result with orders on order_id.
merged_df = pd.merge(merged_df, orders, on="order_id")
# Finally, merge the result with review_score_df on order_id.
merged_df = pd.merge(merged_df, reviews_df, on="order_id")

merged_df = merged_df[
    [
        "seller_id",
        "sales",
        "sales_freight",
        "sales_fees",
        "subscription_fees",
        "revenues",
        "review_score",
        "n_orders",
    ]
]

merged_df.head()

,seller_id,sales,sales_freight,sales_fees,subscription_fees,revenues,review_score,n_orders
0,3442f8959a84dea7ee197c632cb2df15,218.70,27.90,1.9080,320.0,321.9080,5,3
1,3442f8959a84dea7ee197c632cb2df15,218.70,27.90,1.9080,320.0,321.9080,1,3
2,3442f8959a84dea7ee197c632cb2df15,218.70,27.90,1.9080,320.0,321.9080,3,3
3,8c16d1f32a54d92897cc437244442e1b,5642.60,2112.07,35.3053,1840.0,1875.3053,3,108
4,d1b65fc7debc3361ea86b5f14c68d2e2,11703.07,1438.73,102.6434,1120.0,1222.6434,5,40


Monetary cost for each bad review:
```python
# review_score: cost(BRL)
{'1 star': 100
'2 stars': 50
'3 stars': 40
'4 stars': 0
'5 stars': 0}
```

In [169]:
merged_df.loc[merged_df['review_score'] == 1, 'review_costs'] = 100
merged_df.loc[merged_df['review_score'] == 2, 'review_costs'] = 50
merged_df.loc[merged_df['review_score'] == 3, 'review_costs'] = 40
merged_df.loc[merged_df['review_score'] == 4, 'review_costs'] = 0
merged_df.loc[merged_df['review_score'] == 5, 'review_costs'] = 0
#merged_df1 = merged_df.drop_duplicates(subset=['seller_id'], keep='first')
merged_df.head(10)

,seller_id,sales,sales_freight,sales_fees,subscription_fees,revenues,review_score,n_orders,review_costs
0,3442f8959a84dea7ee197c632cb2df15,218.70,27.90,1.9080,320.0,321.9080,5,3,0.0
1,3442f8959a84dea7ee197c632cb2df15,218.70,27.90,1.9080,320.0,321.9080,1,3,100.0
2,3442f8959a84dea7ee197c632cb2df15,218.70,27.90,1.9080,320.0,321.9080,3,3,40.0
3,8c16d1f32a54d92897cc437244442e1b,5642.60,2112.07,35.3053,1840.0,1875.3053,3,108,40.0
4,d1b65fc7debc3361ea86b5f14c68d2e2,11703.07,1438.73,102.6434,1120.0,1222.6434,5,40,0.0
5,d1b65fc7debc3361ea86b5f14c68d2e2,11703.07,1438.73,102.6434,1120.0,1222.6434,5,40,0.0
6,d1b65fc7debc3361ea86b5f14c68d2e2,11703.07,1438.73,102.6434,1120.0,1222.6434,5,40,0.0
7,d1b65fc7debc3361ea86b5f14c68d2e2,11703.07,1438.73,102.6434,1120.0,1222.6434,5,40,0.0
8,d1b65fc7debc3361ea86b5f14c68d2e2,11703.07,1438.73,102.6434,1120.0,1222.6434,5,40,0.0
9,d1b65fc7debc3361ea86b5f14c68d2e2,11703.07,1438.73,102.6434,1120.0,1222.6434,5,40,0.0

__Sum up the review costs per seller__

In [170]:
abc = merged_df.groupby('seller_id')['review_costs'].sum().reset_index()
merged_df1 = pd.merge(merged_df, abc, on="seller_id")
merged_df1 = merged_df1.drop_duplicates(subset=['seller_id'], keep='first').drop(columns=['review_costs_x'])

merged_df1 =  merged_df1.rename(columns={'review_costs_y': 'review_costs'})
merged_df1.head(10)

,seller_id,sales,sales_freight,sales_fees,subscription_fees,revenues,review_score,n_orders,review_costs
0,3442f8959a84dea7ee197c632cb2df15,218.70,27.90,1.9080,320.0,321.9080,5,3,140.0
3,8c16d1f32a54d92897cc437244442e1b,5642.60,2112.07,35.3053,1840.0,1875.3053,3,108,1330.0
119,d1b65fc7debc3361ea86b5f14c68d2e2,11703.07,1438.73,102.6434,1120.0,1222.6434,5,40,240.0
160,ce3ad9de960102d0677a81f5d0bb7b2d,158.00,16.21,1.4179,80.0,81.4179,5,1,0.0
161,c0f3eea2e14555b6faeea3dd58c1b1c3,79.99,15.66,0.6433,80.0,80.6433,5,1,0.0
162,51a04a8a6bdcb23deccc82b0b80742cf,167.99,31.93,1.3606,80.0,81.3606,1,1,100.0
163,c240c4061717ac1806ae6ee72be3533b,59.90,13.99,0.4591,80.0,80.4591,4,1,0.0
164,a5a1bfcf728ab0e19182959cf0771ee4,1812.96,347.89,14.6507,560.0,574.6507,4,21,260.0
188,9906e7aa42a3c067b7c9a564d01c4320,2619.00,496.60,21.2240,480.0,501.2240,4,12,200.0
204,e49c26c3edfa46d227d5121a6b6e4d37,3654.25,1175.46,24.7879,1440.0,1464.7879,3,35,370.0

__Sort sellers by increasing profits(revenues - costs),starting with sellers with the lowest profits.__

In [178]:
merged_df1['profits'] = merged_df1['revenues'] - merged_df1['review_costs']
merged_df1 = merged_df1.sort_values(by='profits', ascending=True)
merged_df1

,seller_id,sales,sales_freight,sales_fees,subscription_fees,revenues,review_score,n_orders,review_costs,profits
73053,7c67e1448b00f6e969d365cea6b010ab,187923.89,51612.55,1363.1134,1440.0,2803.1134,2,982,44290.0,-41486.8866
21816,4a3ca9315b744ce9f8e9374361493884,200472.92,35067.04,1654.0588,1600.0,3254.0588,2,1806,44620.0,-41365.9412
1392,6560211a19b47992c3666cc44a7e94c0,123304.83,27960.94,953.4389,1440.0,2393.4389,1,1854,40120.0,-37726.5611
30625,1f50f920176fa81dab994f9023523100,106939.21,35165.77,717.7344,1360.0,2077.7344,1,1404,37490.0,-35412.2656
35612,1025f0e2d44d7041d6cf58b6550e0bfa,138968.55,33892.14,1050.7641,1120.0,2170.7641,1,915,31290.0,-29119.2359
...,...,...,...,...,...,...,...,...,...,...
111744,9df5750209b83567ec144eb299d7d634,4917.00,259.30,46.5770,1680.0,1726.5770,4,11,200.0,1526.5770
111235,612a743d294c27884fb7b80d2b19ba35,3057.70,104.45,29.5325,1520.0,1549.5325,4,2,0.0,1549.5325
3435,f7496d659ca9fdaf323c0aae84176632,5087.57,844.94,42.4263,1760.0,1802.4263,5,26,190.0,1612.4263
96731,989becdce12ebc39863c2bceab6f3ca1,7840.88,1052.45,67.8843,1760.0,1827.8843,5,18,140.0,1687.8843
104527,d03698c2efd04a549382afa6623e27fb,8865.47,779.15,80.8632,1760.0,1840.8632,5,18,100.0,1740.8632

__Method to update the IT costs after removing sellers along with the products that they sell.__

In [164]:
import math
def get_IT_score(data_for_IT_costs):
    n_sellers = merged_df1['seller_id'].nunique()
    print('Total number of unique sellers in the dataset: ', n_sellers)

    n_products = merged_df1['n_orders'].sum()
    print('Total number of products ever sold by sellers in the dataset: ', n_products)

    alpha = 3157.27
    beta = 978.23

    IT_costs = alpha * math.sqrt(n_sellers) + beta * math.sqrt(n_products)
    print('Total IT costs: ', IT_costs)
    print("Total profits: ", merged_df1['profits'].sum())
    return IT_costs

__Remove sellers with low profits alongwith their products__

In [179]:
import math

# implement a loop that removes the sellers starting with the least profitable
# seller from 'sellers_sorted' until the total IT costs are equal 500k BRL.
it_costs = 0
iteration = 0
#it_costs <= 500000
for i, row in merged_df1.iterrows():
    if row.profits < 0:
        print('Iteration: ', iteration)
        merged_df1 = merged_df1.drop(i)
        it_costs = get_IT_score(merged_df1)
        iteration += 1
        print("*"*50)
    else:
        break

Iteration:  0
Total number of unique sellers in the dataset:  2966
Total number of products ever sold by sellers in the dataset:  98859
Total IT costs:  479521.68629105855
Total profits:  -342070.8350000002
**************************************************
Iteration:  1
Total number of unique sellers in the dataset:  2965
Total number of products ever sold by sellers in the dataset:  97053
Total IT costs:  476670.30215448077
Total profits:  -300704.89379999985
**************************************************
Iteration:  2
Total number of unique sellers in the dataset:  2964
Total number of products ever sold by sellers in the dataset:  95199
Total IT costs:  473716.4466682293
Total profits:  -262978.3327
**************************************************
Iteration:  3
Total number of unique sellers in the dataset:  2963
Total number of products ever sold by sellers in the dataset:  93795
Total IT costs:  471453.50498451455
Total profits:  -227566.0671
**************************************************
Iteration:  4
Total number of unique sellers in the dataset:  2962
Total number of products ever sold by sellers in the dataset:  92880
Total IT costs:  469959.6103848303
Total profits:  -198446.8311999999
**************************************************
Iteration:  5
Total number of unique sellers in the dataset:  2961
Total number of products ever sold by sellers in the dataset:  91174
Total IT costs:  467179.9410316291
Total profits:  -169683.0255
**************************************************
Iteration:  6
Total number of unique sellers in the dataset:  2960
Total number of products ever sold by sellers in the dataset:  89860
Total IT costs:  465014.7166713722
Total profits:  -146595.83369999996
**************************************************
Iteration:  7
Total number of unique sellers in the dataset:  2959
Total number of products ever sold by sellers in the dataset:  88573
Total IT costs:  462878.1877585185
Total profits:  -124583.24090000009
**************************************************
Iteration:  8
Total number of unique sellers in the dataset:  2958
Total number of products ever sold by sellers in the dataset:  87427
Total IT costs:  460959.62244842213
Total profits:  -103179.56839999999
**************************************************
Iteration:  9
Total number of unique sellers in the dataset:  2957
Total number of products ever sold by sellers in the dataset:  86484
Total IT costs:  459366.4538670166
Total profits:  -85553.36170000001
**************************************************
Iteration:  10
Total number of unique sellers in the dataset:  2956
Total number of products ever sold by sellers in the dataset:  85960
Total IT costs:  458464.5826512746
Total profits:  -69629.66209999996
**************************************************
Iteration:  11
Total number of unique sellers in the dataset:  2955
Total number of products ever sold by sellers in the dataset:  85248
Total IT costs:  457245.2763327897
Total profits:  -53816.04700000014
**************************************************
Iteration:  12
Total number of unique sellers in the dataset:  2954
Total number of products ever sold by sellers in the dataset:  84168
Total IT costs:  455401.2413892774
Total profits:  -39130.85389999999
**************************************************
Iteration:  13
Total number of unique sellers in the dataset:  2953
Total number of products ever sold by sellers in the dataset:  83036
Total IT costs:  453457.2694963961
Total profits:  -24493.89949999994
**************************************************
Iteration:  14
Total number of unique sellers in the dataset:  2952
Total number of products ever sold by sellers in the dataset:  82613
Total IT costs:  452709.3104741102
Total profits:  -9979.922099999967
**************************************************
Iteration:  15
Total number of unique sellers in the dataset:  2951
Total number of products ever sold by sellers in the dataset:  82296
Total IT costs:  452140.29075218615
Total profits:  2258.474200000055
**************************************************
Iteration:  16
Total number of unique sellers in the dataset:  2950
Total number of products ever sold by sellers in the dataset:  81136
Total IT costs:  450126.4217684241
Total profits:  14340.04740000004
**************************************************
Iteration:  17
Total number of unique sellers in the dataset:  2949
Total number of products ever sold by sellers in the dataset:  80725
Total IT costs:  449390.7161912627
Total profits:  24611.602700000047
**************************************************
Iteration:  18
Total number of unique sellers in the dataset:  2948
Total number of products ever sold by sellers in the dataset:  80477
Total IT costs:  448934.38343824446
Total profits:  34276.10270000016
**************************************************
Iteration:  19
Total number of unique sellers in the dataset:  2947
Total number of products ever sold by sellers in the dataset:  80275
Total IT costs:  448556.80892910995
Total profits:  43902.13150000025
**************************************************
Iteration:  20
Total number of unique sellers in the dataset:  2946
Total number of products ever sold by sellers in the dataset:  79749
Total IT costs:  447618.19094706606
Total profits:  53424.52080000006
**************************************************
Iteration:  21
Total number of unique sellers in the dataset:  2945
Total number of products ever sold by sellers in the dataset:  79092
Total IT costs:  446448.82513275684
Total profits:  62594.28839999996
**************************************************
Iteration:  22
Total number of unique sellers in the dataset:  2944
Total number of products ever sold by sellers in the dataset:  78352
Total IT costs:  445129.7147630095
Total profits:  71607.89549999987
**************************************************
Iteration:  23
Total number of unique sellers in the dataset:  2943
Total number of products ever sold by sellers in the dataset:  77787
Total IT costs:  444111.56494316156
Total profits:  80487.92630000005
**************************************************
Iteration:  24
Total number of unique sellers in the dataset:  2942
Total number of products ever sold by sellers in the dataset:  77672
Total IT costs:  443880.7117975073
Total profits:  88741.10920000006
**************************************************
Iteration:  25
Total number of unique sellers in the dataset:  2941
Total number of products ever sold by sellers in the dataset:  76954
Total IT costs:  442588.5844986678
Total profits:  96970.53850000002
**************************************************
Iteration:  26
Total number of unique sellers in the dataset:  2940
Total number of products ever sold by sellers in the dataset:  76569
Total IT costs:  441879.7990766532
Total profits:  104888.89970000007
**************************************************
Iteration:  27
Total number of unique sellers in the dataset:  2939
Total number of products ever sold by sellers in the dataset:  76034
Total IT costs:  440903.35741572484
Total profits:  112372.91000000015
**************************************************
Iteration:  28
Total number of unique sellers in the dataset:  2938
Total number of products ever sold by sellers in the dataset:  75561
Total IT costs:  440033.9145839823
Total profits:  119800.29290000012
**************************************************
Iteration:  29
Total number of unique sellers in the dataset:  2937
Total number of products ever sold by sellers in the dataset:  75165
Total IT costs:  439299.23833980627
Total profits:  127057.41479999997
**************************************************
Iteration:  30
Total number of unique sellers in the dataset:  2936
Total number of products ever sold by sellers in the dataset:  74745
Total IT costs:  438519.76261424343
Total profits:  134219.85489999998
**************************************************
Iteration:  31
Total number of unique sellers in the dataset:  2935
Total number of products ever sold by sellers in the dataset:  74078
Total IT costs:  437294.6625271533
Total profits:  141380.14089999994
**************************************************
Iteration:  32
Total number of unique sellers in the dataset:  2934
Total number of products ever sold by sellers in the dataset:  73817
Total IT costs:  436796.07022863533
Total profits:  148408.19390000013
**************************************************
Iteration:  33
Total number of unique sellers in the dataset:  2933
Total number of products ever sold by sellers in the dataset:  73505
Total IT costs:  436204.65085498267
Total profits:  154924.08429999993
**************************************************
Iteration:  34
Total number of unique sellers in the dataset:  2932
Total number of products ever sold by sellers in the dataset:  73113
Total IT costs:  435467.35978357214
Total profits:  161391.4077000001
**************************************************
Iteration:  35
Total number of unique sellers in the dataset:  2931
Total number of products ever sold by sellers in the dataset:  72580
Total IT costs:  434472.2978388048
Total profits:  167490.17519999994
**************************************************
Iteration:  36
Total number of unique sellers in the dataset:  2930
Total number of products ever sold by sellers in the dataset:  72312
Total IT costs:  433956.1252878367
Total profits:  173555.07850000006
**************************************************
Iteration:  37
Total number of unique sellers in the dataset:  2929
Total number of products ever sold by sellers in the dataset:  71997
Total IT costs:  433353.3839155389
Total profits:  179362.5623
**************************************************
Iteration:  38
Total number of unique sellers in the dataset:  2928
Total number of products ever sold by sellers in the dataset:  71663
Total IT costs:  432714.6687452482
Total profits:  185036.2438
**************************************************
Iteration:  39
Total number of unique sellers in the dataset:  2927
Total number of products ever sold by sellers in the dataset:  71322
Total IT costs:  432061.70652091375
Total profits:  190470.1978999999
**************************************************
Iteration:  40
Total number of unique sellers in the dataset:  2926
Total number of products ever sold by sellers in the dataset:  71110
Total IT costs:  431643.96495558665
Total profits:  195774.9937
**************************************************
Iteration:  41
Total number of unique sellers in the dataset:  2925
Total number of products ever sold by sellers in the dataset:  70756
Total IT costs:  430964.6631322628
Total profits:  201054.29110000003
**************************************************
Iteration:  42
Total number of unique sellers in the dataset:  2924
Total number of products ever sold by sellers in the dataset:  70432
Total IT costs:  430339.0239458192
Total profits:  206308.54680000013
**************************************************
Iteration:  43
Total number of unique sellers in the dataset:  2923
Total number of products ever sold by sellers in the dataset:  70208
Total IT costs:  429896.666118914
Total profits:  211554.90600000002
**************************************************
Iteration:  44
Total number of unique sellers in the dataset:  2922
Total number of products ever sold by sellers in the dataset:  70050
Total IT costs:  429575.64180195134
Total profits:  216728.11490000004
**************************************************
Iteration:  45
Total number of unique sellers in the dataset:  2921
Total number of products ever sold by sellers in the dataset:  69965
Total IT costs:  429389.3058821457
Total profits:  221800.29460000002
**************************************************
Iteration:  46
Total number of unique sellers in the dataset:  2920
Total number of products ever sold by sellers in the dataset:  69444
Total IT costs:  428394.89056017937
Total profits:  226857.16769999993
**************************************************
Iteration:  47
Total number of unique sellers in the dataset:  2919
Total number of products ever sold by sellers in the dataset:  68935
Total IT costs:  427419.19855044346
Total profits:  231779.15869999997
**************************************************
Iteration:  48
Total number of unique sellers in the dataset:  2918
Total number of products ever sold by sellers in the dataset:  68533
Total IT costs:  426639.9936252512
Total profits:  236636.5610000001
**************************************************
Iteration:  49
Total number of unique sellers in the dataset:  2917
Total number of products ever sold by sellers in the dataset:  68334
Total IT costs:  426238.6927540413
Total profits:  241462.7732
**************************************************
Iteration:  50
Total number of unique sellers in the dataset:  2916
Total number of products ever sold by sellers in the dataset:  67946
Total IT costs:  425482.4484356368
Total profits:  246008.2830000001
**************************************************
Iteration:  51
Total number of unique sellers in the dataset:  2915
Total number of products ever sold by sellers in the dataset:  67715
Total IT costs:  425019.3909086277
Total profits:  250472.61850000004
**************************************************
Iteration:  52
Total number of unique sellers in the dataset:  2914
Total number of products ever sold by sellers in the dataset:  67395
Total IT costs:  424387.9608247358
Total profits:  254931.05040000007
**************************************************
Iteration:  53
Total number of unique sellers in the dataset:  2913
Total number of products ever sold by sellers in the dataset:  66998
Total IT costs:  423609.6335547991
Total profits:  259367.73260000005
**************************************************
Iteration:  54
Total number of unique sellers in the dataset:  2912
Total number of products ever sold by sellers in the dataset:  66753
Total IT costs:  423116.9951394486
Total profits:  263786.63639999996
**************************************************
Iteration:  55
Total number of unique sellers in the dataset:  2911
Total number of products ever sold by sellers in the dataset:  66650
Total IT costs:  422892.67308661155
Total profits:  268031.5084
**************************************************
Iteration:  56
Total number of unique sellers in the dataset:  2910
Total number of products ever sold by sellers in the dataset:  66325
Total IT costs:  422246.92344228155
Total profits:  272236.56700000004
**************************************************
Iteration:  57
Total number of unique sellers in the dataset:  2909
Total number of products ever sold by sellers in the dataset:  66060
Total IT costs:  421713.86318290955
Total profits:  276440.6502
**************************************************
Iteration:  58
Total number of unique sellers in the dataset:  2908
Total number of products ever sold by sellers in the dataset:  65721
Total IT costs:  421038.6404401199
Total profits:  280563.25570000015
**************************************************
Iteration:  59
Total number of unique sellers in the dataset:  2907
Total number of products ever sold by sellers in the dataset:  65352
Total IT costs:  420304.35233030876
Total profits:  284636.37080000003
**************************************************
Iteration:  60
Total number of unique sellers in the dataset:  2906
Total number of products ever sold by sellers in the dataset:  64965
Total IT costs:  419533.52667755494
Total profits:  288683.7078000001
**************************************************
Iteration:  61
Total number of unique sellers in the dataset:  2905
Total number of products ever sold by sellers in the dataset:  64559
Total IT costs:  418723.91150347644
Total profits:  292696.06380000006
**************************************************
Iteration:  62
Total number of unique sellers in the dataset:  2904
Total number of products ever sold by sellers in the dataset:  64438
Total IT costs:  418461.58446933655
Total profits:  296610.92879999994
**************************************************
Iteration:  63
Total number of unique sellers in the dataset:  2903
Total number of products ever sold by sellers in the dataset:  64223
Total IT costs:  418017.6763313123
Total profits:  300485.4674
**************************************************
Iteration:  64
Total number of unique sellers in the dataset:  2902
Total number of products ever sold by sellers in the dataset:  64007
Total IT costs:  417571.13528134
Total profits:  304358.9218
**************************************************
Iteration:  65
Total number of unique sellers in the dataset:  2901
Total number of products ever sold by sellers in the dataset:  63866
Total IT costs:  417269.08401344134
Total profits:  307986.832
**************************************************
Iteration:  66
Total number of unique sellers in the dataset:  2900
Total number of products ever sold by sellers in the dataset:  63605
Total IT costs:  416734.1092089546
Total profits:  311600.8474000001
**************************************************
Iteration:  67
Total number of unique sellers in the dataset:  2899
Total number of products ever sold by sellers in the dataset:  63507
Total IT costs:  416514.6585914998
Total profits:  315200.2559000001
**************************************************
Iteration:  68
Total number of unique sellers in the dataset:  2898
Total number of products ever sold by sellers in the dataset:  63356
Total IT costs:  416192.0881829059
Total profits:  318780.6571000001
**************************************************
Iteration:  69
Total number of unique sellers in the dataset:  2897
Total number of products ever sold by sellers in the dataset:  63019
Total IT costs:  415507.0300734342
Total profits:  322338.8497
**************************************************
Iteration:  70
Total number of unique sellers in the dataset:  2896
Total number of products ever sold by sellers in the dataset:  62928
Total IT costs:  415300.33057937387
Total profits:  325770.8864000001
**************************************************
Iteration:  71
Total number of unique sellers in the dataset:  2895
Total number of products ever sold by sellers in the dataset:  62773
Total IT costs:  414968.58869209146
Total profits:  329181.696
**************************************************
Iteration:  72
Total number of unique sellers in the dataset:  2894
Total number of products ever sold by sellers in the dataset:  62599
Total IT costs:  414599.32763941574
Total profits:  332547.4641000001
**************************************************
Iteration:  73
Total number of unique sellers in the dataset:  2893
Total number of products ever sold by sellers in the dataset:  62280
Total IT costs:  413945.56667709164
Total profits:  335902.8844999999
**************************************************
Iteration:  74
Total number of unique sellers in the dataset:  2892
Total number of products ever sold by sellers in the dataset:  62063
Total IT costs:  413490.5420588093
Total profits:  339214.2216000001
**************************************************
Iteration:  75
Total number of unique sellers in the dataset:  2891
Total number of products ever sold by sellers in the dataset:  61899
Total IT costs:  413138.9844133641
Total profits:  342454.4516000001
**************************************************
Iteration:  76
Total number of unique sellers in the dataset:  2890
Total number of products ever sold by sellers in the dataset:  61699
Total IT costs:  412716.116636215
Total profits:  345682.1927000001
**************************************************
Iteration:  77
Total number of unique sellers in the dataset:  2889
Total number of products ever sold by sellers in the dataset:  61604
Total IT costs:  412499.6105563495
Total profits:  348775.7179

" while merged_df1['profits'] < 0 and merged_df1['seller_id'].nunique() > 0:\n    print('Iteration: ', iteration)\n    merged_df1 = merged_df1.iloc[1:]\n    it_costs = get_IT_score(merged_df1)\n    iteration += 1 "

In [180]:
merged_df1

,seller_id,sales,sales_freight,sales_fees,subscription_fees,revenues,review_score,n_orders,review_costs,profits
32865,5fd924b4836098a5be0ecf81ba054ce0,1148.80,135.54,10.1326,80.0,90.1326,5,7,90.0,0.1326
92788,7c462184585ae80bd6e5774c62ce50f2,60.00,17.64,0.4236,80.0,80.4236,3,1,80.0,0.4236
87452,b8d890108a7a80e4f5d59eea9f362438,89.70,34.59,0.5511,80.0,80.5511,4,2,80.0,0.5511
89358,ef728fa1f17436c91ed1ccd03dcf9631,128.70,58.12,0.7058,80.0,80.7058,5,3,80.0,0.7058
67458,31561f325664a8a7aba4c8d0c3a9b3db,2702.19,627.17,20.7502,160.0,180.7502,3,36,180.0,0.7502
...,...,...,...,...,...,...,...,...,...,...
111744,9df5750209b83567ec144eb299d7d634,4917.00,259.30,46.5770,1680.0,1726.5770,4,11,200.0,1526.5770
111235,612a743d294c27884fb7b80d2b19ba35,3057.70,104.45,29.5325,1520.0,1549.5325,4,2,0.0,1549.5325
3435,f7496d659ca9fdaf323c0aae84176632,5087.57,844.94,42.4263,1760.0,1802.4263,5,26,190.0,1612.4263
96731,989becdce12ebc39863c2bceab6f3ca1,7840.88,1052.45,67.8843,1760.0,1827.8843,5,18,140.0,1687.8843
104527,d03698c2efd04a549382afa6623e27fb,8865.47,779.15,80.8632,1760.0,1840.8632,5,18,100.0,1740.8632

In [181]:
merged_df1.shape

(2222, 10)